* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}

/* -----------------------------
-------Navigation style--------- */

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.company-name h2 {
    font-weight: 700;
    font-size: 45px;
}

.items {
    display: flex;
    list-style: none;

}

.item {
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}


/* --------------------------------
------------Banner Style--------- */

.banner-container {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
}

.banner-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 20px;
}

.explore-btn {
    border: none;
    border-radius: 4px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    margin-top: 20px;
}

.banner-img img {
    width: 1300px;
    height: 700px;
    padding: 40px;
}


/*------------------------------------------
-------- Quick List section style ---------*/

.quick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    gap: 70px;
}

.photo-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-bottom: 60px;
}

.team-photo {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.quick-list-title {
    font-weight: 500;
    font-size: 45px;
}

.gray-text {
    color: #727272;
}

.orange-text {
    color: #FF900E;
}


/* --------------------------------------
---------Features section design---------- */

.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    grid-column-gap: 30px;

}

.feature-text {
    margin-left: 120px;

}

.feature-caption {
    font-weight: 700;
    font-size: 45px;
    padding: 24px 10px;
    border-left: 5px solid #FF900E;

}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 30px;
    padding-top: 16px;
}

article {
    width: 586px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    padding
}

.feature-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-photo img {
    width: 708px;
    height: 782px;
    object-fit: cover;
    border-radius: 8px;
}

.btn-complex {
    text-align: center;
    margin-top: -120px;
    padding-bottom: 10px;
    margin-left: 150px;
}

.experience-btn {
    background: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 30px 45px;
    font-weight: 700;
    font-size: 35px;
}

.experience-btn>p{
    font-weight: 500;
    font-size: 15px;

}


/* ----------------------------------
--------Fact section design---------- */
.some-facts>h2 {
    font-weight: 700;
    font-size: 45px;
    margin-left: 100px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.some-facts>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 20px;
    margin-left: 100px;
}

.facts {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-top: 30px;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px 46px 42px 45px;
    margin-top: 60px;
    cursor: pointer;
    transition: all 0.55s ease;
}
.extra{
    padding-left: 60px;
    padding-right: 70px;
}


.fact>p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;

}

.fact:hover {
    background-color: #FF900E;
    color: white;
    transform: translateY(-10px);

}


/* --------------------------------------------
---------our engineer section design  (extra section)-----------  */


.our-engineers{
    margin-top: 100px;
}
.our-engineers>h2 {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 18px;
}

.our-engineers>p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding-bottom: 50px;
}

.engineer>img{
    height: 250px;
    width: 250px;
    border: 1px solid midnightblue;
    border-radius: 5px;
}
.engineers{
    display: flex;
    justify-content: center;
    gap: 35px;
    
}
.engineer{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 18%);
    border-radius: 5px;
    padding: 10px;
    
}

/* -----------------------------------
------------footer design------------ */
.footer-container {
    margin-top: 110px;
}

.footer-container>h2 {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    padding-bottom: 24px;
}

.footer-container>p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    padding-bottom: 50px;
}

.companies {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.company img {
    filter: grayscale(100%);
    padding-bottom: 10px;
}

.copyright-section {
    background-color: #FFF4E7;
    border-radius: 8px;
    margin: 110px 50px;
}

.copyright-section>p {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    text-align: center;
    padding: 20px;
}